In [29]:
import numpy as np
from typing import Tuple
import pandas as pd
import pickle
import scipy.special as sc
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
%matplotlib inline

In [4]:
def weighted_mse(u_exp: np.ndarray, u: np.ndarray, time: np.ndarray, eps: float = 0.0) -> Tuple[np.ndarray, np.ndarray]:
    dt = np.diff(time, n=1, axis=0)
    dt = np.append(dt, dt[-1])

    amplitude = np.dot(dt, u * u_exp) / np.dot(dt, u ** 2)
    e = (u_exp - amplitude * u) / (u_exp + eps) * dt

    loss = np.dot(e, e)
    return loss, amplitude

In [5]:
import pandas as pd
unpickled_df = pd.read_pickle('./decays.pickle')
unpickled_df.head()

,parameters,decay
0,"[{'sigma': 1435168.9390908787, 'mu': 89.058309...","[0.20414764740139812, 0.19512088018885956, 0.1..."
0,"[{'sigma': 6273819.790735516, 'mu': 76.4296341...","[0.1853657500837078, 0.17325324056605024, 0.16..."
0,"[{'sigma': 1185609.7405302143, 'mu': 145.77550...","[0.20965104452381175, 0.20151618304390082, 0.1..."
0,"[{'sigma': 6143423.656344486, 'mu': 71.4151574...","[0.185046111522035, 0.1727535353636631, 0.1607..."
0,"[{'sigma': 6366540.795349254, 'mu': 132.191461...","[0.19235541864543546, 0.18131712610011289, 0.1..."

In [6]:
print(unpickled_df['parameters '].iloc[0])

[{'sigma': 1435168.9390908787, 'mu': 89.05830983771534, 'd': 89, 'th': 2.8163372753619518, 'th0': 6.5}]

In [7]:
print(unpickled_df['decay'].iloc[1])

[0.1853657500837078, 0.17325324056605024, 0.16137984866188596, 0.14767274860043825, 0.14054205562862432, 0.13361570142891543, 0.12639660144562767, 0.11908495947679494, 0.11143253735935438, 0.10404788564780873, 0.09668797518510043, 0.08925031938061825, 0.0819507171399824, 0.07475427335260053, 0.06784322857876779, 0.06107588867842254, 0.054648738642522544, 0.04859256532767319, 0.04280150922879604, 0.03750183304472978, 0.03256403039915821, 0.028068486237626353, 0.023997861531996907, 0.020372859490138354, 0.017178950405200878, 0.014388781362204187, 0.01198151437694591, 0.009927036317937536, 0.008190160102682165, 0.006735065288610897, 0.005521719805841198, 0.004497360867676629, 0.0036323972009979573, 0.0028923348875184254, 0.0022594569817647983, 0.0017220296389554406, 0.0012746282194345104, 0.0009113270260187545, 0.0006260702353531296, 0.0004110038059525578, 0.0002561536898304886, 0.0001502377666809059, 8.210684334635793e-05, 4.135184559677432e-05, 1.890215339842355e-05, 7.727270437946536e-06]

In [8]:
def weighted_mse(u_exp: np.ndarray, u: np.ndarray, time: np.ndarray, eps: float = 0.0) -> Tuple[np.ndarray, np.ndarray]:
    dt = np.diff(time, n=1, axis=0)
    dt = np.append(dt, dt[-1])

    amplitude = np.dot(dt, u * u_exp) / np.dot(dt, u ** 2)
    e = (u_exp - amplitude * u) / (u_exp + eps) * dt

    loss = np.dot(e, e)
    return loss, amplitude


t = 1e-3 * np.array([
    0.135, 0.180, 0.235, 0.315, 0.365, 0.420,
    0.485, 0.560, 0.650, 0.750, 0.865, 1.000,
    1.155, 1.335, 1.540, 1.780, 2.055, 2.370,
    2.740, 3.160, 3.650, 4.215, 4.870, 5.625,
    6.495, 7.500, 8.660, 10.00, 11.55, 13.34,
    15.40, 17.79, 20.54, 23.72, 27.39, 31.63,
    36.52, 42.17, 48.70, 56.24, 64.94, 74.99,
    86.60, 100.0, 115.5, 133.4
])

In [9]:
unpickled_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75200 entries, 0 to 0
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   parameters   75200 non-null  object
 1   decay        75200 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [10]:
kek = unpickled_df['parameters '][0]
print(kek)
kek = unpickled_df['parameters '].iloc[40000]
print(kek)
kek[0].get('sigma')

0    [{'sigma': 1435168.9390908787, 'mu': 89.058309...
0    [{'sigma': 6273819.790735516, 'mu': 76.4296341...
0    [{'sigma': 1185609.7405302143, 'mu': 145.77550...
0    [{'sigma': 6143423.656344486, 'mu': 71.4151574...
0    [{'sigma': 6366540.795349254, 'mu': 132.191461...
                           ...
0    [{'sigma': 3762849.6012914125, 'mu': 148.81610...
0    [{'sigma': 2875169.70201072, 'mu': 42.34207174...
0    [{'sigma': 5574139.120522762, 'mu': 96.8725661...
0    [{'sigma': 1451156.4908713333, 'mu': 43.394390...
0    [{'sigma': 7901269.910883426, 'mu': 23.4973872...
Name: parameters , Length: 75200, dtype: object
[{'sigma': 8931973.876361609, 'mu': 31.717744380614917, 'd': 89, 'th': 4.805890865824528, 'th0': 6.5}]

8931973.876361609

## Перенесём все данные в таблицу для удобства работы

In [11]:
d = []
for p in unpickled_df['parameters ']:
    d.append({'Sigma': p[0].get('sigma'), 'mu':p[0].get('mu'),
              'd':p[0].get('d'), 'th': p[0].get('th'),
              'th0':p[0].get('th0')})
decay = []
df = pd.DataFrame(d)
dec_df = []
for id, p in enumerate(unpickled_df['decay']):
    dec_df.append(p)
df['Decay'] = dec_df
df.head(10)

,Sigma,mu,d,th,th0,Decay
0,1.435169e+06,89.058310,89,2.816337,6.5,"[0.20414764740139812, 0.19512088018885956, 0.1..."
1,6.273820e+06,76.429634,89,9.039558,6.5,"[0.1853657500837078, 0.17325324056605024, 0.16..."
2,1.185610e+06,145.775506,89,3.942288,6.5,"[0.20965104452381175, 0.20151618304390082, 0.1..."
3,6.143424e+06,71.415157,89,7.672864,6.5,"[0.185046111522035, 0.1727535353636631, 0.1607..."
4,6.366541e+06,132.191462,89,4.341253,6.5,"[0.19235541864543546, 0.18131712610011289, 0.1..."
5,2.202663e+06,67.409757,89,3.684940,6.5,"[0.19707648324855812, 0.18683864905413106, 0.1..."
6,5.452385e+06,58.463764,89,4.742516,6.5,"[0.18438771577303842, 0.17182722376412168, 0.1..."
7,8.362600e+06,27.018713,89,1.604036,6.5,"[0.1688063648017043, 0.15301738140312576, 0.13..."
8,3.133573e+06,139.161563,89,10.772532,6.5,"[0.20015195150516177, 0.19068437501823504, 0.1..."
9,5.335198e+06,47.146775,89,8.921513,6.5,"[0.18162651605649227, 0.16864305147554345, 0.1..."

## Постичитаем корреляцию между входными признаками th, sigma,mu

In [12]:
correlations_data = df.corr()
print(correlations_data)

          Sigma        mu   d        th  th0
Sigma  1.000000  0.003973 NaN  0.002132  NaN
mu     0.003973  1.000000 NaN -0.003228  NaN
d           NaN       NaN NaN       NaN  NaN
th     0.002132 -0.003228 NaN  1.000000  NaN
th0         NaN       NaN NaN       NaN  NaN

### Из полученных значений видно, что d и th0 можно убрать из анализируемых данных. Для всех остальных переменных корреляция мала, что говорит о том что эти признаки не избыточны и мы должеы их влючить в анализ

In [13]:
tmp_data = pd.DataFrame()
tmp_data = df
tmp_data['Outside_D_Fact'] = tmp_data['d'] - 2 * tmp_data['th0'] + 2 * tmp_data['th']
#del data['d']
#del data ['th0']
tmp_data.head()

,Sigma,mu,d,th,th0,Decay,Outside_D_Fact
0,1.435169e+06,89.058310,89,2.816337,6.5,"[0.20414764740139812, 0.19512088018885956, 0.1...",81.632675
1,6.273820e+06,76.429634,89,9.039558,6.5,"[0.1853657500837078, 0.17325324056605024, 0.16...",94.079116
2,1.185610e+06,145.775506,89,3.942288,6.5,"[0.20965104452381175, 0.20151618304390082, 0.1...",83.884577
3,6.143424e+06,71.415157,89,7.672864,6.5,"[0.185046111522035, 0.1727535353636631, 0.1607...",91.345728
4,6.366541e+06,132.191462,89,4.341253,6.5,"[0.19235541864543546, 0.18131712610011289, 0.1...",84.682505

## Муфты уберем из анализа  по принципу больше фактического диаметра- муфта (либо сделать для них отдельный анализ?)

In [14]:
tmp_data = tmp_data.loc[tmp_data['d'] > tmp_data['Outside_D_Fact']]
tmp_data.head()

,Sigma,mu,d,th,th0,Decay,Outside_D_Fact
0,1.435169e+06,89.058310,89,2.816337,6.5,"[0.20414764740139812, 0.19512088018885956, 0.1...",81.632675
2,1.185610e+06,145.775506,89,3.942288,6.5,"[0.20965104452381175, 0.20151618304390082, 0.1...",83.884577
4,6.366541e+06,132.191462,89,4.341253,6.5,"[0.19235541864543546, 0.18131712610011289, 0.1...",84.682505
5,2.202663e+06,67.409757,89,3.684940,6.5,"[0.19707648324855812, 0.18683864905413106, 0.1...",83.369880
6,5.452385e+06,58.463764,89,4.742516,6.5,"[0.18438771577303842, 0.17182722376412168, 0.1...",85.485033

## Разобьем выборку случайным образом на пары и переобозначим входные входные данные на th1, th 2, sigma 1, sigma 2, mu 1, mu 2, а также посчитаем loss между этими двумя значениями и добавим этот параметр вместо Decay. Параметр loss мы как раз и хотим научиться предсказывать

In [15]:
tmp_data.head()

,Sigma,mu,d,th,th0,Decay,Outside_D_Fact
0,1.435169e+06,89.058310,89,2.816337,6.5,"[0.20414764740139812, 0.19512088018885956, 0.1...",81.632675
2,1.185610e+06,145.775506,89,3.942288,6.5,"[0.20965104452381175, 0.20151618304390082, 0.1...",83.884577
4,6.366541e+06,132.191462,89,4.341253,6.5,"[0.19235541864543546, 0.18131712610011289, 0.1...",84.682505
5,2.202663e+06,67.409757,89,3.684940,6.5,"[0.19707648324855812, 0.18683864905413106, 0.1...",83.369880
6,5.452385e+06,58.463764,89,4.742516,6.5,"[0.18438771577303842, 0.17182722376412168, 0.1...",85.485033

In [16]:
d = []
while(len(tmp_data) >= 1):
    kek = tmp_data.sample(2)
    d.append({'Sigma1': kek.get('Sigma').iloc[0],
              'Sigma2': kek.get('Sigma').iloc[1],
              'mu1':kek.get('mu').iloc[0],
              'mu2':kek.get('mu').iloc[1],
              'th1':kek.get('th').iloc[0],
              'th2':kek.get('th').iloc[1],
              'loss':weighted_mse(np.array(kek.get('Decay').iloc[0]),np.array(kek.get('Decay').iloc[1]),t)[0]})
    tmp_data = tmp_data.drop(index=kek.index[0])
    tmp_data = tmp_data.drop(index=kek.index[1])
data = pd.DataFrame(d)
data.head()

,Sigma1,Sigma2,mu1,mu2,th1,th2,loss
0,6.724220e+06,7.690418e+06,104.549009,43.948914,6.007566,4.203833,0.001381
1,8.967144e+06,3.752431e+06,11.511362,89.560025,6.147377,3.815972,0.001572
2,4.157619e+06,1.471843e+06,90.126926,139.527700,1.766654,2.443318,0.000462
3,8.577943e+06,8.864779e+06,130.190087,73.556380,6.048291,1.322706,0.001577
4,6.043406e+06,5.248548e+06,79.079288,98.303813,4.912651,4.062756,0.001323

In [27]:
data['loss']

0        1.380781e-03
1        1.572329e-03
2        4.624804e-04
3        1.576625e-03
4        1.322807e-03
             ...
19821    6.051853e-04
19822    7.006766e+10
19823    1.572280e-03
19824    1.132783e-04
19825    1.595152e-03
Name: loss, Length: 19826, dtype: float64

## Для обучения используем 70% данных, для тестирования 30%

In [36]:
X_train, X_test, y_train, y_test = train_test_split(data[['Sigma1','Sigma2','mu1','mu2','th1', 'th2']],
                                                    data['loss'], test_size=0.3, random_state=42)
def mae(y_true, y_pred):
    return np.mean(abs(y_true - y_pred))

#baseline_guess = np.median(y_train)
#print('The baseline guess is a score of %0.2f' % baseline_guess)
#print("Baseline Performance on the test set: MAE = %0.4f" % mae(y_test, baseline_guess))
#print (y_train)

## Выберем модель